.header {
  height: 100px;
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 9;
}

.header__wrapper {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

.header__logo {
  width: 200px;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links__item {
  color: white;
  padding: 1rem;
  margin: 0.1rem;
  text-decoration: none;
}

.links__item:hover {
  border: 0.1rem solid grey;
  color: white;
  margin: 0;
}

.main {
  background-image: url("../image/main.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__title {
  color: white;
  font-size: 6rem;
  -webkit-box-shadow: 0 3px 1px 0px #000;
          box-shadow: 0 3px 1px 0px #000;
}

.concept {
  background-image: url("../image/fondo-selva.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}

.concept__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
}

.concept__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.concept__img {
  position: relative;
}

.concept__img--img1 {
  width: 13rem;
  top: -4rem;
  left: 7rem;
}

.concept__img--img2 {
  width: 13rem;
  top: -2rem;
  left: -8rem;
}

.concept__content {
  background-color: black;
}

.concept__title {
  font-weight: bold;
  text-align: center;
}

.concept__text {
  padding: 2rem;
  width: 30rem;
}

* {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */